<div class='container-fluid'>
  <div class='titlehead' style='text-align:center'>
  <br><br><br><br>
    <h1 style="font-size:6em; padding:10px; width:600px; margin: 0 auto; border:5px solid gray; text-align:center; color:white; margin-top:120px">SAVE EMMA</h1><br><br>
    <p style="font-size:1.4em; font-family:'Gotham-Medium'; color:#B8B9BE; text-shadow:1px 1px black">An interactive webhunt of <span style="color:gray; font-size:1.15em"><b>clues and puzzles.</b></span></p>
    <span href class="gamebtn" style="font-size:1em; margin-left:-150px; margin-right:150px"> Learn More </span>
    <%= link_to "First Clue", clues_spotlight_path, :class => "wrap sticker funhouse" %>
  </div>
</div>

<div class='container-fluid'>
  <div class='col-md-12 about'><br><br><br><br>
    <p href class="gamebtn"> The Game <br></p>
    <p style='color:ghostwhite; text-align:center; margin-top:20px'>Six year-old Emma is in the hands of a notorious serial killer.<br></p>
    <p style='color:ghostwhite; text-align:center; margin-top:20px'>The only chance at her safe return is solving a series of clues, including<br></p>
    <p style='padding-top:20px; color:ghostwhite; text-align:center; font-size: 2em; color:white'>Riddles, Puzzles, Phone Calls, Text Messages, Web Hunts</p><br>
    <div style="width:100%; text-align:center"><br><br>
    <!-- <%= link_to "Sign Up", new_user_registration_path, :class => "wrap sticker funhouse" %></p> -->
    <%= link_to "First Clue", clues_spotlight_path, :class => "wrap sticker funhouse" %>
  </div>
  </div>
</div>

<div class='container-fluid' style='background-color:black'>
  <!-- <div class='col-md-6'>
    <%= image_tag("evilsmile.jpg", alt: 'Emmas Bedroom', class: "emmabedroom") %>
  </div> -->
  <div class='col-md-6'><br><br><br><br>

    <p style="text-align:center">

<!--     <div class="wrap">
      <div class="sticker"></div>
      <div class="msg">new!</div>
    </div> -->
  <!--   <p class="signupbtn" style='margin-top:100px'>- Sign Up -<br></p> -->
   <!--  <p style='color:ghostwhite; text-align:center; margin-top:20px'>Sign Up Now</p> -->
    </p>
  </div>
</div>

<!-- <div class='container-fluid' style='background-color:black'>
  <div class='col-md-6'>
    <p style='color:ghostwhite; text-align:center; margin-top:20px'>On November 3rd, 2015, my wife and I tucked our four year-old daughter,<br>
    <p style='padding-top:20px; color:ghostwhite; text-align:center; font-size: 3em; color:white'>#### ###########</p><br>
    <p style='color:ghostwhite; text-align:center; margin-top:10px'>into bed.<br>
    The next morning she was gone.<br>
    There were no signs of breaking and entering, nor any visible evidence.
    </p>
  </div>
  <div class='col-md-6'>
  <%= image_tag("bedroom.jpeg", alt: 'Emmas Bedroom', class: "emmabedroom") %>
  </div>
</div> -->

<!-- <div class='container-fluid'>
  <div class='col-md-12'>
    <p>
    Hi<br>
    </p>
  </div>
</div> -->
