<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="row">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <%= link_to image_tag("Teddy.png", alt: 'Teddy', class: "emmabedroom col-md-2", style: 'width:65px; margin-left:20px;'), root_path %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="" >

        <% if user_signed_in? %>
        <!-- CLUE 1 --->
          <% if current_page?(controller: 'clues', action: 'spotlight') %>
                <span  style="" class="col-md-2">
                  <img src="http://previews.123rf.com/images/mtkang/mtkang1108/mtkang110800032/10285656-a-series-of-fire-numbers-in-flame-1-or-one-Stock-Photo-number.jpg" style="background-repeat: no-repeat; width:50px;">
                </span>
                  <button type="button" class="btn btn-info btn-lg col-md-offset-2 col-md-1" data-toggle="modal" data-target="#myModal" style="display:inline-block;">Clue 1</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Where are you?</h4>
                      </div>
                      <div class="modal-body">
                        Passcode <input type="text" id="clue1"></input><br><br>
                        <button onclick="clue1()" type="button" class="btn btn-default">Submit</button>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            <!-- Modal two -->
            <div class="modal fade" id="myModal2" role="dialog">
              <div class="modal-dialog">
                <!-- Modal two content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Congratulations</h4>
                  </div>
                  <div class="modal-body">
                  You solved Clue 1! <br><br>
                    <%= link_to "Next Clue", clues_tragicheroes_path %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <!-- END CLUE 1 -->

          <!-- CLUE 2 -->
          <% if current_page?(controller: 'clues', action: 'tragicheroes') %>
                  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="display:inline-block;">Clue 2</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Think you solved it?</h4>
                      </div>
                      <div class="modal-body">
                        First Clue <input type="text" id="clue2pt1"></input><br>
                        Second Clue <input type="text" id="clue2pt2"></input><br>
                        Third Clue <input type="text" id="clue2pt3"></input><br>
                        <button onclick="clue2()" type="button" class="btn btn-default">Submit</button>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            <!-- Modal two -->
            <div class="modal fade" id="myModal3" role="dialog">
              <div class="modal-dialog">
                <!-- Modal two content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Congratulations</h4>
                  </div>
                  <div class="modal-body">
                    You solved Clue 1! <br><br>
                    <%= link_to "Next Clue", clues_tragicheroes_path %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <!-- END CLUE 2 -->

          <!-- REST OF NAVBAR -->
            <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to current_user.email, users_info_path %>
          </li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
          <%= link_to "Sign In", new_user_session_path %>
          </li>
          <li>
          <%= link_to "Sign Up", new_user_registration_path %>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script>
$('#myAffix').affix({
  offset: {
    top: 100,
    bottom: function () {
      return (this.bottom = $('.footer').outerHeight(true))
    }
  }
})
</script>

<script>
function clue1() {
  var value = document.getElementById("clue1").value;
  if (value == "hello") {
     window.alert("Correct!");
     $('#myModal2').modal('show');
   } else {
      window.alert("Try again")
   }
 }
</script>

<script>
 function clue2() {
   var clue2pt1 = document.getElementById("clue2pt1").value;
   var clue2pt2 = document.getElementById("clue2pt2").value;
   var clue2pt3 = document.getElementById("clue2pt3").value;

   if (clue2pt1 == "a" && clue2pt2 == "a" && clue2pt3 == "a") {
      window.alert("Correct!");
      $('#myModal3').modal('show');
    } else {
       window.alert("Try again");
    }
  }
</script>
